# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Datasets
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.txt
!requirements.txt
!README.txt

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
